
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<div id="wrapper">
  <div id="header">
    <div id="logo">
      <img src="TheBestYou Logo.PNG" alt="">
      <button id="loginbtn"><a href="/login">Log in</a></button>
      
    </div>
    <div class="searchContainer">
      <form action="" class="searchBar">
        <input type="text" id="myInput"placeholder="Search anything" name="q" onkeyup="searchIssue()" >
        <button type="submit" id="searchButton"><img src=search.png></button>
      </form>
    </div>
    <div id="searchList" class="activeSearch">
    </div>
    <script src="searchBar.js"></script>
  </div>
  <div class="navbar">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/workouts">Workouts</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/rateUs">Rate Us</a></li>
      <li><a href="/login">Get Recipies</a></li>
      <li><a href="#"><i class='fas fa-user-circle' style='font-size:30px'></i></a></li>
      <!-- <li><a href="/profile">Your Profile</a></li> -->
    </ul>
  </div>
</div>


