<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <link rel="stylesheet" href="index.css" >
    <link rel="stylesheet" href="about.css">
</head>
<body>
    <%-include('./partials/header.ejs')%>
  <h1 class="mainHeading">About Us</h1>
    <div class="about">
        <div class="whoWeAre">
            <h2 class="who">Who we are?</h2>
            <p align="justify"class=" description">
                The Best You is a website which has all the information about the various workout plans , categories for the various workouts and exercises.
        If you create an account in it, then you will have access to the various recipes. You can search any recipe by searching the ingredient you have. But this will work only if you're logged in.
            </p>
        </div>
        <div class="Vision">
        <h2 class="vision">Our Vision</h2>
        <p align="justify" class="description1">We believe that every person must have a good knowledge about his/her health and which type of exercises and workout they should go for in order to stay healthy.
            Our focus is to make the world healthy and fit.
        </p>
        </div>
        <div class="Mission">
        <h2 class="mission">Our Mission</h2>
        <p align="justify" class="description2">
            Our mission is to deliver the right and useful information to our clients to keep them healthy.The mission is to provide a platform where one can easily find the best information about health & fitness.
        </p>
        </div>
       
    </div>
    <%-include('./partials/footer.ejs')%>
</body>
</html>