<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <link rel="stylesheet" href="index.css" >
</head>
<body>
    <%-include('./partials/header.ejs')%>
<section class="video">
<video autoplay muted loop id="gymVideo">
    <source src="Gym video.mp4" type="video/mp4">
</video>
<div class="mainText">
    <h1 id="Fitness">The Best You</h1>
    <h2 id="Everywhere">Find the beast in you!</h2>
</div>

</section>
<section>
    <img src="quote1.jpg" height="700px" width="100%">
</section>
<section class="solution">
   
    <h1 style="text-align:center">Featured Workout Plans</h2>
        <div class="container-2">
            <div class="Home">
                <div class="row">
                    <div class="column">
                        <div class="card">
                            <a href="/workouts" > <img class="workoutPlans" src="cardio.jpg" alt="Mike" style="width:100%"></a>
                            <div class="container">
                                <h3>Strength & Cardio Circuit</h3>
                                <p><a href="/workouts"><button class="button">Read more</button></a></p>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card">
                            <a href="/workouts" > <img  class="workoutPlans"  src="metabolic.jpg" alt="Mike" style="width:100%"></a>
                            <div class="container">
                                <h3>Metabolic Conditioning Workout</h3>
                                <p><a href="/workouts"><button class="button">Read more</button></a></p>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card">
                            <a href="/workouts" > <img  class="workoutPlans"  src="dumbbell.jpeg" alt="Mike" style="width:100%"></a>
                            <div class="container">
                                <h3>Dumbbell Circuit Training</h3>
                                <p><a href="/workouts"><button class="button">Read more</button></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div class="card">
                        <a href="/workouts" > <img  class="workoutPlans"  src="muscle1.jpg" alt="Mike" style="width:100%"></a>
                        <div class="container">
                            <h3>Split Muscle Program</h3>
                            <p><a href="/workouts"><button class="button">Read more</button></a></p>
                        </div>
                    </div>
                </div>
            <div class="column">
                <div class="card">
                    <a href="/workouts" > <img  class="workoutPlans" src="sprint.jpg" alt="Mike" style="width:100%"></a>
                    <div class="container">
                        <h3>Sprint Intervals</h3>
                        <p><a href="/workouts"><button class="button">Read more</button></a></p>
                    </div>
                </div>
            </div>
        <div class="column">
            <div class="card">
                <a href="/workouts" > <img  class="workoutPlans"  src="body.jpg" alt="Mike" style="width:100%"></a>
                <div class="container">
                    <h3>Body Part a Day Plan</h3>
                    <p><a href="/workouts"><button class="button">Read more</button></a></p>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<section>
    <img src="quote7.jpg" height="700px" width="100%">
</section>
<section class="solution">
   
    <h1 style="text-align:center">More Workout Plans</h2>
        <div class="container-2">
            <div class="Home">
                <div class="row">
                    <div class="column">
                        <div class="card">
                            <a href="/workouts" > <img class="workoutPlans" src="kettlebell.jpg" alt="Mike" style="width:100%"></a>
                            <div class="container">
                                <h3>Kettlebell & body workout</h3>
                                <p><a href="/workouts"><button class="button">Read more</button></a></p>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card">
                            <a href="/workouts" > <img  class="workoutPlans"  src="strength2.jpg" alt="Mike" style="width:100%"></a>
                            <div class="container">
                                <h3>Increase strength</h3>
                                <p><a href="/workouts"><button class="button">Read more</button></a></p>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card">
                            <a href="/workouts" > <img  class="workoutPlans"  src="back2.jpg" alt="Mike" style="width:100%"></a>
                            <div class="container">
                                <h3>Back & Shoulder</h3>
                                <p><a href="/workouts"><button class="button">Read more</button></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div class="card">
                        <a href="/workouts" > <img  class="workoutPlans"  src="chest.jpg" alt="Mike" style="width:100%"></a>
                        <div class="container">
                            <h3>Intense chest</h3>
                            <p><a href="/workouts"><button class="button">Read more</button></a></p>
                        </div>
                    </div>
                </div>
            <div class="column">
                <div class="card">
                    <a href="/workouts" > <img  class="workoutPlans" src="pec.jpg" alt="Mike" style="width:100%"></a>
                    <div class="container">
                        <h3>The PEC Pumper</h3>
                        <p><a href="/workouts"><button class="button">Read more</button></a></p>
                    </div>
                </div>
            </div>
        <div class="column">
            <div class="card">
                <a href="/workouts" > <img  class="workoutPlans"  src="muscle.jpg" alt="Mike" style="width:100%"></a>
                <div class="container">
                    <h3>Build Muscle</h3>
                    <p><a href="/workouts"><button class="button">Read more</button></a></p>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<section>
    <img src="quote8.jpg" height="700px" width="100%">
</section>

<%-include('./partials/footer.ejs')%>
</body>
</html>