<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workouts</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <link rel="stylesheet" href="index.css" >
    <link rel="stylesheet" href="workouts.css">
   

</head>
<body>
    <%-include('./partials/header.ejs')%>
    <h1 class="mainHeading">Workouts designed for you</h1>
    <div class="workouts">
        <div class="w1">
            <h1 class="wheading">Strength & Cardio Circuit</h1>
            <p align="justify"class=" description">
                Equipment Needed
                Various weighted dumbbells, a barbell (you can use dumbbells as a substitute), step or bench, an exercise ball, and a mat.
                
                How To
                Begin with a 5- to 10-minute warm-up of light cardio (walking in place, etc.)
                Perform each circuit, one exercise after the other for 1 to 2 circuits, resting when you need to. 
                Modify according to your fitness level, but try to use challenging weights when you can.
                Sip water throughout the workout. If you get tired, walk in place (don't stop moving)
                Precautions
                Get a doctor's clearance if you have any medical conditions or injuries.
                If you're a beginner or haven't been exercising consistently for at least 2-3 months, start with the beginner/intermediate circuit.
                Circuit 1: Step Ups
                Stand behind a step or bench and wrap a resistance band underneath. Place the right foot on the step, transfer the weight to the heel and push up, keeping tension on the band. Slowly step back down and repeat for 16 reps. Switch sides.
                
                Split Squats
                Hold a challenging weight and stand about 3 or so feet in front of a step or platform and take the left leg back, resting it on the step. Bend both knees and lower into a lunge. Push through the heel to stand up and repeat for 16 reps. Switch sides.
                
                Plank Knee Press on the Ball
                On your knees, place forearms on the exercise ball. Straighten the legs and bring the body into a plank position. Hold for 1-2 seconds, lower the knees and repeat for 16 reps.
                3 Minutes of High Intensity Cardio
                Using the machine or activity of your choice, use the first minute to warm up and then work as hard as you can for 2 minutes.
            </p>
        </div>
        <div class="w2">
        <h1 class="wheading">Metabolic Conditioning Workout </h1>
        <p align="justify" class="description1">
            Prior to each workout a full-body warm-up is imperative to prep your body for the work to come. A comprehensive warm-up will raise your body temperature and “prime” your muscles with blood to help prevent injury as well as mentally prepare you. Below is just an example of a dynamic warm-up you can adopt as your own.

It may also be a good idea to perform a “dry run” of your MetCon workout with little to no weight especially if the moves are new to you. This will familiarize you with not only the exercises but also the cadence and structure of your program.

Warm-Up
Do 1 to 3 rounds of the following circuit with little to no rest between exercises.

Jump squats – 10 reps
Push-ups – 10 reps
Walking lunges – 20 total steps
Inverted rows – 10 reps
Calf jumps – 10 reps
Bicycle crunch or leg lifts – 20 reps
Now you're prepared to jump into a full MetCon workout. Try one of these options:

MetCon Bodyweight PHA Workout
Perform 3 to 5 rounds, 3 minutes rest after each round

Box jumps – 10 reps
Feet-elevated push-ups – 15-20 reps
Reverse lunges – 10 reps each leg
Reverse-grip chin-up – 10 reps
Step-ups – 5-10 reps each leg
Diamond push-ups – 15-20 reps
Hanging leg raises – 10-15 reps
MetCon Equipment Muscle-Builder
Perform 3 to 5 rounds, 3 minutes rest after each round

Clean and press – 5-10 reps
Weighted walking lunge – 10 reps each leg
Renegade row – 10 reps
Goblet squat – 10 reps
Ab rollout – 10 reps
Kettlebell front swing – 10 reps
MetCon Hybrid Routine
Perform 3 to 5 rounds, 3 minutes rest after each round

Squat jumps – 10 reps
Renegade rows – 10 reps
Weighted step-ups – 10 reps
Plyo push-ups – 10 reps
One-arm kettlebell push press – 5 each arm
Hanging twisted leg lift – 5-10 reps each side
MetCon Upper/Lower Split
Upper: Perform 3 to 5 rounds, 3 minutes rest after each round

Push-up – 20 reps
Close-grip pull-up or inverted row – 10-15 reps
Kettlebell swing – 20 reps
TRX curl – 10 reps
TRX triceps press – 10 reps
Lower: Perform 3 to 5 rounds, 3 minutes rest after each round

Jump split squat – 10 reps each leg
Goblet squat – 10 reps
Side lunge – 10 reps each leg
Farmer’s walk – 20 yards
        </p>
        </div>
        <div class="w3">
        <h1 class="wheading">Dumbbell Circuit Training</h1>
        <p align="justify" class="description2">
            How to do this dumbbell circuit workout:
            Grab a pair of dumbbells.
            Complete the exercises back to back in one continuous circuit.
            Do each exercise for 30 secs.
            Take 15 secs rest between exercises.
            Take 1 min rest at the end of the circuit.
            Repeat for a total of 4 rounds.
            1a. Thruster
Rack the dumbbells at shoulder height, with palms facing in and elbows raised. 
Squat down, keeping your chest up.
Power up and, as soon as you reach the top part of your squat, thrust the dumbbells overhead into a full press.
Bring the dumbbells back to the rack position.
1b. Press-Up to Renegade Row
Assume a press-up position with your feet hip- to shoulder-width apart and a dumbbell in each hand directly below your shoulders.
Keeping your core engaged and elbows tucked, lower your chest until it’s almost in line with your hands, then push back up to the starting position.
Row the dumbbell in your left hand to your ribs, then straighten your elbow, raising the weight behind you until your arm is fully extended.
Lower the dumbbell back to the starting position and perform a press-up.
Continue alternating sides, performing a press-up after each row
        </p>
        </div>
       
    </div>

  
    <%-include('./partials/footer.ejs')%>
</body>
</html>